.App {
    text-align: center;
    background-color: #555555;
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.App-header {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow-y: hidden;
    animation: homeLoad 1s 0.05s forwards cubic-bezier(.17,.67,.83,.67);

}

div.header {
    top: 0px;
    left: 0px;
    z-index: 100;
    height: 75px;
    width: 100%;
    position: fixed;
}

div.content {
    top: 50px;
    position: relative;
    margin: 10px;
    margin-bottom: 50px;
    padding: 10px;
}

/* Begin Navbar styling */
div.fadeInHeader {
    transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
    height: 100px;
}

div.scrolled {
    transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
    background: rgb(17, 17, 17);
    background: rgba(17, 17, 17, 0.6);
    backdrop-filter: blur(5px);
    height: 75px;
}

/* Navbar buttons */
div.tabs {
    top: 0px;
    opacity: 1;
    vertical-align: middle;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    height: 75px;
}

.tabButton {
    font:'Roboto';
    vertical-align: middle;
    height: 65px;
    border-radius: 10px;
    margin: 5px 8%!important;
    padding: 0 15px 0 15px;
    text-decoration: none;
    color:white!important;
    font-size: 20px!important;
    text-transform: capitalize!important;
    
    
}

.tabButton:hover {
    border-radius: 10px;
    background-color:#006daa!important;
    transition: all 0.25s cubic-bezier(.17,.67,.83,.67);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.tabButton.active {
    border-radius: 10px;
    background-color: #00bfff!important;
    transition: all 0.25s cubic-bezier(.17,.67,.83,.67);
}

.tabButton p {
    vertical-align: middle;
    white-space: nowrap;
}

div.subhead {
    display: flex;
    width: 95%;
    justify-content: center;
}

/* Begin Introduction specific styling */
.bannerPad {
    align-items: center;
}
.IntroBanner {
    margin-left: auto!important;
    margin-right: auto!important;
    padding: 5px;
    font-size: 36px;
    width: fit-content;
    background-color: #111111;
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 5px;
}
.PFP {
    border-radius: 50%;
    max-width: 20%;
    height: auto;
}
.IntroBlurb {
    margin: 2% 5%;
    font-size: 15px;
    background-color: #111111;
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

@keyframes homeLoad {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Begin Profile specific styling */
div.content h1 {
    margin-left: auto!important;
    margin-right: auto!important;
    margin: 5px;
    width: fit-content;
    font-size: 36px;
    background-color: #111111;
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    padding: 5px;
}
div.content p.sub {
    margin: 5px auto!important;
    width: fit-content;

    font-size: 24px;
    background-color: #111111;
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    padding: 5px;
}

/* Begin Exp specific styling */

/* Begin Project specific styling */
h4.statusIP {
    color: orangered!important;
    margin: auto 50px!important;
}

h4.statusComp {
    color: green!important;
    margin: auto 50px!important;

}

h4.statusPlanned {
    color: darkcyan!important;
    margin: auto 50px!important;
}

h4 {
    color: white;
}

.infopar {
    text-align: left;
}

.MuiTypography-root {
    color: white!important;
}

.MuiButton-label {
    text-transform: capitalize;
}

/* Begin Card specific styling */
.infoCard {
    backdrop-filter: blur(5px)!important;
    background: #111111!important;
    background: rgba(17, 17, 17, 0.6)!important;
    color: white!important;
    margin: 10px!important;
}

.infoCardMedia {
    /* max-height: 300px!important; */

    object-fit: contain;
}
